{% extends 'base.html' %}

{% block content %}
  <h1>Open Library Search</h1>

  <form method="get" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search"
             name="q" placeholder="Search library" aria-label="Search"
             value="{{ query|default_if_none:'' }}">
      <button type="submit">Search</button>
      {% if query %}<a class="btn btn-outline-secondary ms-2" href="{% url 'library-books' %}">Clear</a>{% endif %}
  </form>

  {% if error %}
    <p style="color: red;">Error: {{ error }}</p>
  {% endif %}

  {% if library %}
    <ul>
      {% for item in library %}
        <li>
            <strong>Author:</strong> {{ item.author|join:", " }}<br>
            <strong>Book:</strong> {{ item.book }}<br>
            <strong>First published:</strong> {{ item.first_published }}<br>
        </li>
      {% endfor %}
    </ul>
    <div class="pagination">
        {% if page > 1 %}
        <a class="btn btn-outline-info mb-4" href="?q={{ query }}&page={{ page|add:-1 }}">Previous</a>
        {% endif %}
        <span class="current btn btn-outline-info mb-4">Page {{ page }} of {{ total_pages }}</span>
        {% if page < total_pages %}
        <a class="btn btn-outline-info mb-4" href="?q={{ query }}&page={{ page|add:1 }}">Next</a>
        {% endif %}
    </div>
  {% else %}
    <p>No books found.</p>
  {% endif %}

{% endblock %}