{% extends "base.html" %}

{% block title %}SaleMate{% endblock %}
{% block header %}Category List{% endblock %}

{% block content %}
<h2>Categories</h2>
<ul>
    {% for category_for_loop in category_list %}
        <li>
            <a href=""> {{ category_for_loop }}</a>
        </li>
    {% empty %}
        <li>No categories yet!</li>
    {% endfor %}
</ul>

<h2>Category Summary</h2>

<p><strong>Total websites:</strong> {{ total_websites }}</p>

<h3>Number of websites per category</h3>
<ul>
  {% for category in websites_per_category %}
    <li>{{ category.category_name }}: {{ category.n_websites }} website{% if category.n_websites != 1 %}s{% endif %}</li>
  {% empty %}
    <li>No categories or websites yet!</li>
  {% endfor %}
</ul>

{% endblock %}