{% extends "base.html" %}

{% block title %}SaleMate{% endblock %}
{% block header %}Website List{% endblock %}

{% block content %}
<h2>Websites</h2>
<ul>
    {% for website_for_loop in websites %}
        <li>
            <a href=""> {{ website_for_loop }}</a>
        </li>
    {% empty %}
        <li>No websites yet!</li>
    {% endfor %}
</ul>

<div class="mt-3">
    <a class="btn btn-outline-primary btn-sm" href="{% url 'export-websites-csv' %}">Download Websites (CSV)</a>
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'export-websites-json' %}">Download Wesbites (JSON)</a>
</div>
{% endblock %}