{% load static %}
{% now "U" as ts %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SaleMate{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}?v={{ ts }}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}?v={{ ts }}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v={{ ts }}">

    <meta name="theme-color" content="#4EBDAD">
</head>

<body class="bg-light">
  <header class="bg-primary text-white py-3 mb-4" style="background-color: #4EBDAD; color: white;">
    <div class="container d-flex align-items-center gap-3">
      <a class="d-inline-flex align-items-center text-white text-decoration-none">
        <div class="lh-sm">
          <h1 class="h4 mb-0">SaleMate</h1>
        </div>
      </a>
    </div>
  </header>

  <main class="container">
    {% block send_search %}{% endblock %}
    {% block filter %}{% endblock %}
    {% block content %}{% endblock %}
  </main>

</body>
</html>